@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.App {
  text-align: right;
  background-color: #151515;  
  box-sizing: border-box;
  font-family: "Lato",sans-serif;
  font-stretch: ultra-condensed;
  -webkit-tap-highlight-color: transparent;
  padding-right: 0;
}
.App::-webkit-scrollbar{
  display: none;
}
body{
  background-color: #151515;  

  margin: 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -14px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}
.list--contactUs{
  display: flex;
  flex-direction: column;
  position:fixed;
  align-items: center;
  background-color: #111111;
  width: 30px;
  height: 120px;
  border-radius: 15px;
  left:-31px;
  padding-top: 3px;
  justify-content: space-evenly;
  gap: 1px;
  z-index: 9;
}

.insta {
  width: 25px;
  margin-left: 0px;
  padding-right: 15px;
  
}
.phone{
  width: 25px;
  padding-right: 15px;
}
.location{
  width: 25px;
  padding-right: 15px;
  
}
.header{
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 120%;
  gap: 10px;
  margin-top: 0;
  box-shadow:  190px 55px 15rem #FFDC00;
  background-color: #151515;
  z-index: 100 !important;
  top: 0;
  

}
.header--title{
  color: #b9cad8;
  position: absolute;
  width: max-content;
  padding-right: 4vh;
  font-size: 60px;
  bottom: 55%;
  left: 8vh;
}
.logo{
  width: 85px;
  padding-right: 2vh;
  margin-right: 8vh;
  border-radius: 15px;
}



.header--information{
  color: #FFDC00;
  padding-inline : 1rem;
  position: relative;
  bottom: 5rem;
}

#list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  list-style: none;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 15px;
  text-decoration: none;
  max-width: 30px;
  overflow: none;
  width: default;
  
}
.order--card::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  overflow: hidden;
}
.order--card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  gap: 30px;
  overflow: auto;
  height: max-content;
  width: default;
  padding-inline: 20px;
  margin-bottom: 50px;
  
}
.order{
  display: inherit;
  flex-direction: column ;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: fit-content;
  box-shadow:  3px 3px 0.7rem #292d32;
  height: fit-content;
  margin-bottom: 8px;
}

.order--pic{
  width: 160px;
  height: 150px;
  background:#151515;
  position: inherit; 
  justify-self:center;
  background-color: whitesmoke;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  z-index: 10!important;

}
.order--name{
  color: #b9cad8;
  font-weight: 700;
  padding-right: 10px;
}
.order--price{
  padding-right:10px;
  color: #b9cad8;
}
.order--info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;  
  gap: 2px;
  background-color: #151515;
  width:100%;
  height: 60px;
  padding-bottom: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  

  }
  .visible{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
    align-items: flex-start;
    border-bottom-right-radius:0px ;
    padding-left: 10px;

  }
  .hidden{
    display: inherit;
    position: relative;
    align-self: flex-start;
    border-bottom-left-radius: 0px;
    border-left: 3px solid #151515;
    padding-top: 10px;
    right: 0px;
  }
.lorem{
  color: #b9cad8;
  margin-inline: 10px;
  max-width: 70%;
  margin-top: 70px;
  display: flex;
  position: relative;
  bottom: 50%;
  left: 16%;
  background-color:#111111;
  border-radius: 10px;
  padding: 10px 10px;
  opacity: 0.9;
}
nav::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  overflow: hidden;
}
.nav{
  background-color: #111111;
  margin-right: 0.02rem;
  margin-bottom: 20px;
  overflow: auto;
  width: default;
}
.nav a{
  color: #b9cad8;
  text-decoration: none;
  border-radius: 7px;
  padding-inline: 20px;
}
.nav li.active {
  border-bottom: 2px solid #b9cad8;
  padding-bottom: 10px;
  transform:scale(1.1);
  padding-inline: 10px;
}
nav::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  overflow: hidden;
}
.order--title{
  font-weight: 1500;
  position: relative;
  max-width: 85px;
  border-bottom: 2px solid #FFDC00;
  font-size: larger;
  color: #b9cad8;
  text-align: right;
  margin-right: 30px;
  padding-inline: 10px;  
  box-shadow: #FFDC00;
  padding-bottom: 7px;
  border-bottom-style:outset;

}
.sidebar{
   height: 60px;
   display: flex;
   align-items: center;
   padding-top: 0.1%;
   justify-content: flex-end;
}

.menu-bars{
  margin-right: 14rem;
  font-size: 1.7rem;
  background: none;
  text-decoration: none;
  padding-top: 10px;
}
.nav-menu{
  background-color: #151515;
  width: 250px;
  height: 190vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  visibility: visible;
  display: block;
  z-index: 500 !important;
  background-image: url("https://photos.google.com/photo/AF1QipN08qJW-1ai04fqrfJ6E55JR2Mh2FUaZ4KoQGBn");
}
.nav-menu.active{
  
  left: -5%;
  transition: 350ms ease-in;
  }
.nav-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 2px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a{
  text-decoration: none;
  list-style: none;
  color: #FFDC00;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display:flex;
  align-items: center;
  padding: 0px 0px;
  border-radius: 4px;
  padding-left: 20px;
}
.navbar-toggle li{
  text-decoration: none;
  list-style: none;

}
.nav-text a:hover{
  background-color: #111111;
  max-width:70%;
}

.nav-menu-items{
  width: 100%;
  text-decoration: none;
  list-style: none;
}
.sidebar-toggle{
  background-color: #111111;
  width: 100%;

  height: 80px;
  justify-content: flex-start;
  align-items: center;
}
.itemTitle{
  margin-left: 16px;

}
.home , .reports, .products{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.footer{
  background-color: #111111;
  display: flex;
  flex-direction: row;
  height:max-content;
  justify-content: space-evenly;
  padding-inline: 20px;
  margin-right: 14px;
  padding-bottom: 30px;
  align-items: flex-end;
  box-shadow:  -190px 55px 15rem #b9cad8;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  bottom: 0;
}
.footer--obj{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 10px;

}
.footer--obj--text{
  color: #FFDC00;
  font-size: 0.7rem;
  align-items: center;

}
.footer--obj--logo{
  align-self: flex-end;
  font-size: 1.1rem;

}

.MuiButtonBase-root{
  position: relative;
  top: 13px;
  
}
.MuiTypography-root{
  background-color: #fec59f;
  color: #151515;
  max-width: 15rem;
}
.order-magnified{
  display: block;
  flex-direction: column ;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  border-radius: 10px;
  height: fit-content;
  box-shadow:  3px 3px 0.7rem #292d32;
  height: fit-content;
  margin-bottom: 10px;
  z-index: 1500 !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.order--pic-magnified{
  width: 250px;
  height: 220px;
  position: inherit; 
  justify-self:center;
  background-color: whitesmoke;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  z-index: 10!important;
  transition: 1300ms;

}
.order--name-magnified{
  padding-right:10px;
  color: #b9cad8;
  font-weight: 1000;
}
.order--price-magnified{
  padding-right:10px;
  color: #b9cad8;
}
.order--info-magnified{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;  
  gap: 1px;
  background-color: #151515;
  width:100%;
  height: fit-content;
  padding-bottom: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  }
  .order--ingridients{
    padding-inline: 10px;
    padding-top: 10px;
    text-align: right;
    color: #b9cad8;
  }
  .slider{
  position: relative;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 10px;
}
.image{
  width: 41vh;
  height: 240px;
 
  border-radius: 20px;
  margin: 0;
  box-shadow:  3px 3px 0.9rem #292d32;
}
.right-arrow{
  position: absolute;
  top: 40%;
  right: 7vh;
  color: white ;
  opacity: 0.7;
  font-size: 2rem;
  z-index: 8;
}
.left-arrow{
  position: absolute;
  top: 40%;
  left: 5vh;
  color: white;
  opacity: 0.7;
  font-size: 2rem;
  z-index: 8;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.devName{
  color: #b9cad8;
  font-family: fantasy;
  position: absolute;
  font-style: italic;
  font-size: 5px;
  bottom: 50%;  
  left: 30%;
}
.line{
  margin-inline: 40px;
  margin-top: 20px;
  margin-bottom: 15px;
  
}
